@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


body, html {
    margin: 0;
    padding: 0;
  }


@theme {
    --color-primary: #083E62;
    --color-secondary: #03AEF6;
    --font-Inter: "Inter", "sans-serif"
}




